@model IEnumerable<GameAdvertListModelView>
@{
    ViewData["Title"] = "GameProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    @foreach (var game in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    @await Component.InvokeAsync("GameInfoComponent", new { id = game.ID})
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <table class="table advert-table ">
                        <thead>
                            <tr>
                                <th scope="col">Nick</th>
                                <th scope="col">İlan Tipi</th>
                                <th scope="col">Yaş Kıriteri</th>
                                <th scope="col">Rütbesi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var advert in game.Advert)
                            {
                            <tr>
                                <td><a href="/ilan/@game.Name/@advert.ID">@advert.Nick</a></td>
                                <td>@(advert.AdType==true?"Oyun Arkadaşı":"Takım Arkadaşı")</td>
                                <td>@advert.MinAge</td>

                                @foreach (var item in ViewBag.Ranklist)
                                {
                                    @if (advert.Rank == item.ID.ToString())
                                    {
                                        <td>@item.Ranks</td>
                                    }
                                }

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</section>
