@model IEnumerable<GameModelView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div class="container">
        <div class="row">

            @foreach (var game in Model)
            {
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="game-card card">
                        <img class="game-card-img" src="/img/game/@game.Img" alt="cs go">
                        <div class="game-card-footer" style="        overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 6;
                                    -webkit-box-orient: vertical;
                            ">
                            <a href="/Oyunlar/@game.Name" class="text-break">@game.Description</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>