@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/fontawesome/all.min.js"></script>
    <link href="~/scss/style.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <link href="~/css/toastr.css" rel="stylesheet" />
    <script src="~/js/toastr.js"></script>
</head>
<body>
    @await Html.PartialAsync("_Header")
    @RenderBody()

</body>
</html>
