<ul class="nav flex-column  profil-nav">
    <li class="nav-item">
        <a class="nav-link active" href="/ayarlar"><i class="fas fa-user-alt"></i>Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ayarlar/sifre"><i class="fas fa-unlock-alt"></i>Şifre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ayarlar/platform"><i class="fas fa-link"></i>Platformlar</a>
    </li>
</ul>
