<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/ayarlar">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ayarlar/sifre">Şifre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ayarlar/platform">Platformlar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>