@model PanelUpdateGameModel
@{
    ViewData["Title"] = "UpdateGame";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/select2/select2.min.css" rel="stylesheet" />
<script src="~/js/select2/select2.min.js"></script>

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <form asp-action="UpdateGame" method="post" enctype="multipart/form-data" onsubmit="return Gameform(this)">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yeni Oyun Ekle</div>
                        @if (User.IsInRole("Yönetici"))
                        {
                            <a href="@Url.Action("DeleteGame","PanelGame",new { ID = Model.ID })" class="btn btn-danger btn-lg btn-round float-right">Oyunu Sil</a>
                        }

                    </div>
                    <div class="card-body">
                        @if (TempData["Message"] != null)
                        {
                        <div class="alert alert-success" role="alert">
                            @TempData["Message"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        }
                        <div asp-validation-summary="All"></div>
                        <input type="hidden" asp-for="ID" />
                        <input type="hidden" asp-for="FirstImg" />
                        <div class="form-group">
                            <label>Oyun Adı</label>
                            <input type="text" class="form-control" asp-for="Name" placeholder="Oyunun Adı">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="comment">Oyun Açıklaması</label>
                            <textarea class="form-control" asp-for="Content" rows="5">
												</textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Oyun Resmi</label>
                            <img src="~/img/game/@Model.FirstImg" style="height:200px;object-fit:contain" class="img-thumbnail" />
                            <input type="file" class="form-control-file" asp-for="Image">
                            <span asp-validation-for="Image" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Oyundaki Rütbeler</label>
                            <select class="select-roles form-control" asp-for="Ranks" asp-items="ViewBag.RankList" multiple="multiple">
                            </select>
                            <span asp-validation-for="Ranks" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Oyundaki Roller</label>
                            <select class="select-roles form-control" asp-for="Roles" asp-items="ViewBag.RoleList" multiple="multiple">
                            </select>
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Oyunun Etiketleri</label>
                            <select class="select-roles form-control" asp-for="Tags" asp-items="ViewBag.TagList" multiple="multiple">
                            </select>
                            <span asp-validation-for="Tags" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-round">Kaydet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.select-roles').select2();
    });


    Gameform = form => {
        try {
            $.ajax({
                type: 'POST',
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.success) {
                        location.reload();
                    }
                    else {
                        toastr.success(res.message, 'Bir Sorun Oluştu', { timeOut: 5000, positionClass: "toast-top-center", progressBar: true })
                        if (res.customerror != null) {
                            ValidationErrors(res.customerror[0]);
                        }
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
            function ValidationErrors(errors) {
                $.each(error, function (code, msg) {
                    $('.alert').alert().text(msg.message)
                });
            }
            return false;
        } catch (ex) {
            console.log(ex)
        }
    }
</script>