@model SettingPasswordModelView
@{
    ViewData["Title"] = "ProfilePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                @await Html.PartialAsync("_SettingMenu")
            </div>
            <div class="col-lg-9">
                <form asp-action="ProfilePassword" method="post" >
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Mevcut Şifre</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Yeni Şifre</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" asp-for="NewPassword">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Yeni Şifre Tekrar</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" asp-for="ReNewPassword">
                            <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Kayıt Et</button>
                </form>
            </div>
        </div>
    </div>
</section>
