$main-color: #021f59;
$second-color: #144673;
$text-color: #dfedf2;
$font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
.game {
  padding-top: 5%;
  h4 {
    font-family: $font;
    display: inline-block;
    font-style: italic;
    color: $second-color;
  }
}
.game-head {
  .game-head-right {
    float: right;

    .list-custom {
      margin-right: 40px;
      display: inline-block;
      width: 300px;
    }
  }
}
.col-p{
  padding-bottom: 15px;
}
.game-card {
  width: 100%;
  height: 340px;
  overflow: hidden;
  a{
    color: $text-color;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    z-index: 1;
  }
  .card-information {
    position: absolute;
    height:100%;
    margin: 10px;
    transition: all 0.5s ease;
    top: -220px;
    z-index: 3;
   .game-card-list{
    list-style: none;
    height: 140px;
    overflow: hidden;
   }
    
  }
  &:hover {
    &::after {
      content: "";
      transform: translateY(0%);
    }
    a{
        text-decoration: none;
    }
    .card-information {
      position: absolute;
      color: $text-color;
      top: 20px;
    }
  }
}
.card-img{
    height: 100%;
    .game-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}


@media (min-width: 500px) and (max-width: 768px) {
  .game-head {
    display: block;
    .game-head-right {
      float: none;
      .list-custom {
        display: block;
        width: 100%;
        margin: 30px 0;
      }
      form {
        flex-flow: nowrap !important;
        .search-text {
          display: inline-block;
          width: 100%;
        }
        button {
          display: inline-block;
        }
      }
    }
  }
}
