.game-card{
    height: 100%;
    padding: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.game-img{
    img{
        width: 100%;
        height: 100%;
       object-fit: cover;
    }
}
.game-info{
    p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
    }
}