$backgroundcolor:#252a34;
$linkColor:#eaeaea;
$linkColorHover:#08d9d6;
.navbar{
    background-color: $backgroundcolor !important;
    .navbar-brand{
        color: $linkColor;// Burası Logo renk gereksiz Kaldır
    }
    .nav-link{
        color: $linkColor !important;
    }
    .nav-link:hover{
        color:$linkColorHover !important;
    }
    
}
.game-card{
    position: relative;
    height: 400px;
    width: 100%;
    z-index: 1;
}
.game-card-img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.game-card-footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,0.7);
    bottom: 0px;
    z-index: 99;
    a{
        color: $linkColor;
    }
}