
@{
    Layout = null;
}

<div asp-validation-summary="All"></div>
<form asp-action="DeleteRole" method="post" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this)">
    <div class="card">
        <div class="card-body">          
            <div class="form-group">
                <label for="squareSelect">Rol Seç</label>
                <select asp-items="@ViewBag.RolesBag" class="form-control input-square" id="RoleID" name="RoleID">
                </select>
            </div>
        </div>
        <div class="card-action">
            <button type="submit" class="btn btn-success">Ekle</button>
            <button class="btn btn-danger" data-dismiss="modal">İptal</button>
        </div>
    </div>
</form>
